<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/c1afb31dbf.js" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="/assets/images/favicon.ico" type="image/x-icon">
    <title>Insert title here</title>
    <style>
    	body{
    		background-image: url("https://images.pexels.com/photos/2478248/pexels-photo-2478248.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    		background-size: cover;
    	}
    	form{
    		
    	}
    </style>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-6 offset-3 mt-5" th:unless="${message}">
                <a th:href="@{/product/list}" class="fa fa-home" style="font-size: 50px; text-decoration: none; color: white;"></a>
            </div>
            <div class="col-6 offset-3 mt-5 text-center" th:unless="${message}">
                <h3 class="text-white">ĐỔI MẬT KHẨU</h3>
            </div>
            <div class="alert alert-success col-6 offset-3 mt-5" role="alert" th:if="${message}" th:text="${message}"></div>
            <div class="col-6 offset-3 mt-5 text-center" th:if="${message}">
                <a th:href="@{/product/list}" class="fa fa-home" style="font-size: 50px; text-decoration: none; color: gray;"></a>
            </div>
            <div class="col-6 offset-3" th:unless="${message}" style="border: none; box-shadow: 0 0 2px gray; border-radius: 8px;">
                <form th:action="@{/security/changePassword}" class="p-3" method="post" th:object="${changePassword}">
                    <input type="text" hidden="hidden" name="email" th:value="${email}" />
                    <div class="form-group">
                        <label class="mb-3 text-white" for="newPassword" style="font-weight: 700;">Mật
							khẩu mới</label> <input type="password" name="newPassword" id="newPassword" th:value="*{newPassword}" class="form-control mb-3" />
                        <small class="text-danger" th:if="${#fields.hasErrors('newPassword')}">Không được để
							trống và trên 6 kí tự</small>
                    </div>
                    <div class="form-group">
                        <label class="mb-3 text-white" for="confirmPassword" style="font-weight: 700;">Xác
							nhận mật khẩu</label> <input type="password" name="confirmPassword" th:value="*{confirmPassword}" id="confirmPassword" class="form-control" /> <small class="text-danger" th:if="${#fields.hasErrors('confirmPassword')}">Không
							được để trống và trên 6 kí tự</small> <small class="text-danger" th:if="${error}">Xác nhận mật khẩu không đúng</small>
                    </div>
                    <button class="btn btn-dark form-control text-center mt-3">Đổi mật khẩu</button>
                </form>
            </div>
        </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>